<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque porro, ullam iusto placeat quia aspernatur suscipit sunt laborum voluptates est minima odit dolore excepturi dolorum tenetur saepe? Doloribus, iure?
            </p>
        </section>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
            <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
            <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
        </ul>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>